@import '../../../styles/index.scss';

.checkbox {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 2px;
    &_customCheckBox {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: 2px solid black;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        input {
            position: absolute;
            opacity: 0;
            z-index: -2;
        }
    }
    &_active {
        background-color: #000000;
        border: none;
    }
    &_active::before, &_active::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 42.43px;
        background-color: #ffffff;
        transform: translateX(-50%);
        left: 13px;
    }
    &_active::before {
        transform: rotate(45deg);
        top: -6px;
    }
    
    &_active::after {
        transform: rotate(135deg);
        top: -7px;
    }
    p {
        width: 404px;
        height: 40px;
        padding-left: 16px;
        font-family: $defaultFont;
        font-size: 16px;
        font-weight: 400;
        font-stretch: semi-expanded;
        line-height: 125%;
        letter-spacing: -0.2px;
        a {
            border-bottom: 1px solid #000000; 
        }
    }
}