.spherePixels {
    &_sphere {
        position: absolute;
        top: 0;
        right: 107px;
    }
    &_pixels {
        position: absolute;
        bottom: 0px;
        right: 96px;
    }
    
}