@import '../../styles/index.scss';

.careers {
    width: 1353px;
    // height: 1018px;
    padding: 172px 52px 91px 52px;
    display: flex;
    flex-direction: column;
    &_header {
        position: relative;
        margin-bottom: 44px;
        .ts {
            gap: 16px;
        }
        img {
            position: absolute;
            top: 3px;
            right: 1px;
            animation: moveArrow 1s linear infinite;
        }
    }
    &_vacancies{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 57px;
        margin-bottom: 130px;
        .background {
            margin-top: 110px;
            position: absolute;
            width: 100vw;
            left: 0;
            z-index: -1;
            @media (min-width: 1900px) {
                margin-top: 0px;
            }
        }
    }
    &_contactsHR {
        width: 100%;
        height: 216px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15.5px;
        p {
            position: relative;
            top: -3px;
            @extend %TextBig;
            width: 889px;
            color: #000000;
            text-align: center;
        }
        a {
            font-family: $defaultFont;
            font-size: 64px;
            font-weight: 400;
            font-stretch: expanded;
            line-height: 87.5%;
            border-bottom: 3px solid #00000000;
            padding-bottom: 5px;
        }
        a:hover {
            border-bottom: 3px solid #000000;
            transition: all 0.3s ease-in-out;
        }
    }
}

@keyframes moveArrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}