%H1 {
	font-family: $defaultFont;
	font-size: 128px;
    font-weight: 900;
    line-height: 87.8%;
    font-stretch: expanded;
}

%H2 {
	font-family: $defaultFont;
	font-size: 40px;
    font-weight: 900;
    line-height: 87.8%;
    font-stretch: expanded;
}

%H3 {
	font-family: $defaultFont;
	font-size: 32px;
	font-weight: 900;
    line-height: 90%;
    font-stretch: expanded;
}

%H4 {
	font-family: $defaultFont;
	font-size: 20px;
	font-weight: 600;
    line-height: 90%;
    font-stretch: expanded;
}

%TextBig {
	font-family: $defaultFont;
	font-size: 20px;
	font-weight: 600;
    line-height: 100%;
	font-stretch: expanded;
}

%TextMedium {
	font-family: $defaultFont;
	font-size: 16.43px;
	font-weight: 500;
    line-height: 100%;
	font-stretch: expanded;
}

%TextSmall {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: 300;
    line-height: 125%;
	font-stretch: semi-expanded;
}