.lines {
    width: 100%;
    height: 120px;
    &_line1{
        width: 100%;
        height: 15.38px;
        background-color: #000000;
    }
    &_line2{
        width: 100%;
        height: 13.4px;
        background-color: #000000;
        margin-top: 1.8px;
    }
    &_line3{
        width: 100%;
        height: 11.43px;
        background-color: #000000;
        margin-top: 3.6px;
    }
    &_line4{
        width: 100%;
        height: 9.46px;
        background-color: #000000;
        margin-top: 5.1px;
    }
    &_line5{
        width: 100%;
        height: 7.48px;
        background-color: #000000;
        margin-top: 7.8px;
    }
    &_line6{
        width: 100%;
        height: 5.49px;
        background-color: #000000;
        margin-top: 9.5px;
    }
    &_line7{
        width: 100%;
        height: 3.52px;
        background-color: #000000;
        margin-top: 11.4px;
    }
    &_line8{
        width: 100%;
        height: 1.54px;
        background-color: #000000;
        margin-top: 13.5px;
    }
}