@import '../../../styles/index.scss';

.form {
    width: 504px;
    height: 100%;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_inputs {
        width: 100%;
        height: 466px;
        display: flex;
        flex-direction: column;
        gap: 38px;
        &_input {
            display: flex;
            flex-direction: column;
            gap: 10.55px;
            h6 {
                @extend %TextMedium;
            }
            input, textArea{
                @extend %TextSmall;
                width: 100%;
                border: 2px solid #000000;
                padding-left: 9px;
                padding-right: 9px;
            }
            input {
                height: 54px;
            }
            input::placeholder, textArea::placeholder {
                color: #0000004d;
            }
            textArea {
                height: 203px;
                padding-top: 16px;
                padding-bottom: 16px;
                resize: none;
            }
        }
    }
    &_btn {
        @extend %H4;
        width: 100%;
        height: 64px;
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    &_btn:disabled {
        opacity: 0.8;
        cursor: auto;
        filter: brightness(0.8);
    }

    &_btn:hover {
        filter: brightness(0.8);
    }
}